* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

:root {
    --floral-white: #fffcf2ff;
    --pale-silver: #ccc5b9ff;
    --black-olive: #403d39ff;
    --eerie-black: #252422ff;
    --flame: #eb5e28ff;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#background {
    padding: 15px;
    margin: 5px;
    border: solid 20px var(--black-olive);
    border-radius: 10%;
}

.image {
    padding: 10px;
    margin: 10px;
}

#pet_age {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    gap: 10%;
}

#pet_age, #pet_name, #enter_name {
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
}

#fill_pet_name {
    padding: 5px;
    font-size: 15px;
}

#pet_image {
    width: 500px;
    height: 600px;
    animation: bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.turn_off {
    filter: brightness(0%);
}

.turn_on {
    filter: brightness(100%);
}

#light_image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 30px;
}

button {
    padding: 5px;
    margin: 5px;
    width: 80px;
    height: 35px;
}

.buttons {
    padding: 10px;
    margin: 10px;
    display: flex;
    text-align: center;
    gap: 5%;
}

#hunger_button, #play_button, #sleep_button {
    width: 200px;
    height: 100px;
}

#hunger_level, #sleep_level, #play_level, #light_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#click_me {
    padding: 5px;
    margin: 5px;
    font-size: 10px;
}


/* IMG 2: http://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/1c5de380c0d107a.png

