* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pet_image {
    width: auto;
    animation: bounce;
    animation-duration: 3s;
    /* animation-iteration-count: infinite; */
}

button {
    padding: 5px;
}

.buttons {
    padding: 20px;
    margin: 10px;
    display: flex;
    gap: 5%;
}

#hunger_level, #sleep_level, #play_level {
    display: flex;
    justify-content: center;
    align-items: center;
}

