* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

:root {
    --floral-white: #fffcf2ff;
    --pale-silver: #ccc5b9ff;
    --black-olive: #403d39ff;
    --eerie-black: #252422ff;
    --flame: #eb5e28ff;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#background {
    padding: 15px;
    margin: 5px;
    border: solid 20px var(--black-olive);
    border-radius: 10%;
}

#pet_age {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

#pet_age, #pet_name, #enter_name {
    padding: 5px;
    margin: 5px;
}

#pet_image {
    width: 500px;
    height: 600px;
    animation: bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#pet_age, #pet_name, #enter_name {
}

.turn_off {
    filter: brightness(0%);
}

.turn_on {
    filter: brightness(100%);
}

#light_image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
}

button {
    padding: 5px;
}

.buttons {
    padding: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30%; 
}

#hunger_level, #sleep_level, #play_level, #light_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#click_me {
    padding: 5px;
    margin: 5px;
}

/* IMG 2: http://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/1c5de380c0d107a.png

